@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

button {
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

#debug {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 1.25rem;
    color: #2C2F32;

}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.menu-row-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 40% 50% 10%;
}

.menu-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

.menu-content {
    width: 80%;
    margin: auto;
}


.menu-header {
    font-size: 2rem;
    font-weight: 700;
    color: #2C2F32
}

.menu-header img {
    aspect-ratio: 5;
    height: 40%;
    margin-left: 0.1rem;
}

.menu-footer {
    justify-content: right;
    background-color: #2C2F32;
}

.menu-footer-text {
    height: fit-content;
    width: fit-content;
    text-align: right;
    color: #fcfcfc;
    display: flex;
    padding: 0 1.25rem;
    font-size: 0.75rem;
}

.menu-content-button {
    position: relative;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0 1.25em;
    margin: 0 2.5rem;
    background-color: #2C2F32;
    align-items: center;
    justify-content: center;
    color: #fcfcfc;
    border-radius: 0.5rem;
    cursor: pointer;

}

.menu-content-button:hover {
    transition: ease-in-out 255ms;
    background-color: #1F2123;
}

.menu-content-button:not(:hover) {
    transition: ease-in-out 255ms;
    background-color: #2C2F32;
}

.menu-content-button img {
    display: flex;
    position: relative;
    aspect-ratio: 1;
    width: 70%;
    padding: 1.25rem 0 0.625rem 0;
}

.menu-content-button-text {
    display: flex;
    padding: 0.625rem 0 1.25rem 0;
    align-items: center;
    justify-content: center;
    text-align: center;

}


/* ========================================================================================================================================================= */

.cu-row-grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 20% 20% 50% 10%;
}

.cu-row-grid input {
    height: 0;
    width: 0;

}

.cu-title {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
}

.cu-p {
    display: flex;
    position: relative;
    height: fit-content;
    width: 80%;
    /* align-items: center; */
    justify-content: center;
    padding: 1.25rem;
    margin: auto;
    border: 1px solid #2C2F32;
}

.cu-upload-card {
    height: 100%;
    width: 80%;

}